@model TestMVC_HoteLandLyst.Models.Room
@{
    ViewData["Title"] = "Room" + Model.RoomNumber + "Details";
}
<h1>Welcome to room @Model.RoomNumber!</h1>
<h4>This room costs @Model.ToString() kr. daily</h4>








<script type="text/javascript" src="~/js/PriceChanger.js"></script>